<div style="display: flex; justify-content: space-between; align-items:center">
  <h1 style="text-align: center;">Messages</h1>
  <a href="/new">New Message</a>
</div>
<div class="message-container">
  {{#each messages}}
      <div class="text-card">
        <div>
         <h1>User: {{this.user}}</h1>
         <h2>Created at:{{this.added}}</h2>
        </div>
        <p>{{this.text}}</p>
      </div>
  {{/each}}
</div>
