<div  style="display: flex; justify-content: space-between; align-items:center">
    <h1 style="text-align: center;">Create New Message</h1>
    <a href="/">Back</a>
</div>
<form method="post" action="/new">
    <input type="text" placeholder="Username" name="username" required/>
    <textarea placeholder="Message" name="message" required/></textarea>
    <button type="submit">Submit</button>
</form>